.awesome {
  background-color: #fff;
}

.awesome__cards-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 0;
}

.card-awesome {
  width: 32%;
  margin: 0 1%;
  text-align: center;
}

.card-awesome__title {
  margin: 3.375rem;
}
