.main-header {
  background-color: black;
}

.main-header__container {
  max-width: 76.5625rem;
}

.nav-container {
  display: flex;
  height: 4.68rem;
  align-items: center;
  justify-content: space-between;
}

.main-header__logo {
  width: 6.45rem;
  height: 2.1rem;
  background: url("../icons/axit-logo.svg");
  background-size: cover;
}

.main-header__burger {
  display: none;
  position: relative;
  width: 1.5rem;
  height: 1.125rem;
  background: url("../icons/burger-icon.svg");
  margin-right: 5%;
}

.main-header__burger:hover {
  cursor: pointer;
}

.main-header-nav {
  display: flex;
  justify-content: space-between;
  height: 100%;

  width: 48%;
}

.main-header-nav__item {
  color: #fff;
  flex-grow: 1;
  text-align: center;
  text-decoration: none;
  height: 100%;
  font-family: var(--font-view2);
  font-size: 0.875rem;
  padding: 1.8rem;
}

.main-header-nav__item:hover {
  background-color: var(--main-orange);
}

.main-header-nav__item:active {
  background-color: var(--dark-orange);
}
