.main-header {
  background-color: black;
}

.main-header__container {
  max-width: 1225px;
}

.nav-container {
  display: flex;
  height: 75px;
  align-items: center;
  justify-content: space-between;
}

.main-header__logo {
  width: 87px;
  height: 31px;
  display: block;
  background: url("../icons/axit-logo.svg");
  background-size: cover;
}

.main-header__burger {
  display: none;
  position: relative;
  width: 24px;
  height: 18px;
  background: url("../icons/burger-icon.svg");
  margin-right: 5%;
}

.main-header__burger:hover {
  cursor: pointer;
}

.main-header-nav {
  display: flex;
  min-width: 46%;
  height: 100%;
  margin-right: 2%;
}

.main-header-nav__item {
  flex-grow: 1;
  color: #fff;
  text-decoration: none;
  font-family: var(--font-view2);
  font-size: 14px;
  text-align: center;
  padding: 30px;
}

.main-header-nav__item:hover {
  background-color: var(--main-orange);
}
.main-header-nav__item:active {
  background-color: var(--dark-orange);
  text-transform: uppercase;
}
