@media (max-width: 870px) {
  .trial-form {
    width: 25rem;
  }

  .trial-form__title {
    font-size: 1.3rem;
  }
}
@media (max-width: 767px) {
  /* styles for main-heder */
  .main-header-nav {
    transform: translateX(-100%);
    flex-direction: column;
    gap: 0;
    position: absolute;
    top: 3.5rem;
    left: 0;
    z-index: 5;
    background-color: #000;
    opacity: 0.85;
    height: 100vh;
    width: 100%;
  }

  .main-header-nav.active {
    transform: translateX(0);
  }

  .main-header__burger.active {
    background: url("../icons/cross-icon.svg") center no-repeat;
    background-size: 100%;
  }

  .main-header-nav__item {
    text-align: center;
    padding: 8%;
  }

  .main-header__burger {
    display: block;
  }

  .nav-container {
    height: 3.5rem;
  }

  .main-header__logo {
    width: 4.06rem;
    height: 1.4375rem;
    margin-left: 4%;
  }

  /* styles for main-baner section */
  .main-banner__info-container {
    flex-direction: column;
    padding: 8rem 0 3rem 0;
  }

  .main-banner__logo {
    display: none;
  }

  .main-banner .section-header--white * {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .main-banner .section-header__button {
    margin-bottom: 2rem;
    width: 100%;
  }

  .trial-form {
    width: 100%;
    align-self: center;
  }

  .trial-form__title {
	font-size: 1rem;
 }

  /* styles for social-media section */
  .social-media {
    top: 3.5rem;
  }

  .social-media__container {
    flex-direction: column;
    text-align: center;
  }

  .social-media__text-container {
    width: 100%;
    margin-bottom: 1.25rem;
  }
  .social-media__title {
    margin-bottom: 0.8rem;
  }
  .social-media-block {
    width: 90%;
    justify-content: space-between;
  }

  /* styles for tabs section */

  .tabs {
    padding: 5rem 0 0 0;
  }

  .tabs__navigation-item {
    width: 25%;
  }

  .tabs__frame-text-container {
    width: 100%;
  }
  .tabs__frame-title {
    margin-bottom: 2rem;
  }

  .tabs__frame {
    flex-direction: column;
  }

  .tabs__frame-image {
    height: 80vw;
  }
  /* styles for section header */
  .section-header {
    padding: 4rem 0 2rem 0;
  }

  /* styles for awesome section */
  .awesome__cards-container {
    flex-direction: column;
    padding-top: 0;
  }

  .card-awesome {
    width: 90%;
    padding-top: 3rem;
  }

  .card-awesome__title {
    margin: 2rem;
  }

  /* styles for pricing section */

  .pricing-card-container {
    padding-bottom: 0;
  }

  .pricing__card-container {
    flex-direction: column;
    align-items: center;
    padding-bottom: 1rem;
  }

  .pricing-card {
    width: 90%;

    padding-bottom: 1.625rem;
  }

  .pricing-card:nth-child(2) {
    position: static;
    box-shadow: none;
  }

  /* styles for customers section */

  .customers__cards-container {
    flex-direction: column;
    align-items: center;
    padding-bottom: 1.5rem;
  }
  .customers__card {
    width: 80%;
    margin-bottom: 2rem;
  }

  .customers__card {
    display: none;
  }

  .customers__card:first-child {
    display: block;
  }

  .customers__comment {
    padding: 2.5rem 2rem;
    margin-bottom: 2.5rem;
  }

  .customers__comment::after {
    left: 40%;
  }

  .customers__info-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }

  .customers__data {
    margin: 0;
  }
  .customers__photo {
    margin-bottom: 1rem;
  }

  .customers__name {
    margin-bottom: 0.5rem;
  }

  .slider-nav {
    display: flex;
  }

  /* styles for design section */

  .section-header__button {
    padding: 0.5rem 4rem;
  }

  /* styles for contact form */
  .message-form__body {
    flex-direction: column;
  }

  .message-form__valid {
    margin-right: 0;
  }

  .message-form__message {
    height: 12rem;
    margin-bottom: 0;
  }
  .message-form__button {
    width: 100%;
  }
}
