.pricing {
  background-color: #f5f5f5;
}

.pricing__card-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 3.125rem;
}

.pricing-card {
  flex-grow: 1;
  list-style-type: none;
  margin: 0 1%;
}

.pricing-card:nth-child(2) {
  position: relative;
  top: -1.25rem;
  box-shadow: 0 5px 10px rgba(33, 33, 33, 0.2);
}

.pricing-card__item {
  text-align: center;
  border: 1px solid #f5f5f5;
  background-color: #fff;
  color: #86878b;
  font: normal 1.125rem var(--font-view1);
  padding: 0.75rem;
}

.pricing-card__item:first-child {
  background-color: #333333;
  color: #fff;
  border: 1px solid #f5f5f5;
  padding: 0.625rem;
}

.pricing-card__item:nth-child(2) {
  background-color: #333333;
  color: #fff;
  border: 1px solid #f5f5f5;
  padding: 1.125rem;
}

.pricing-card__item:nth-child(2) span {
  font: bold 2.25rem var(--font-view2);
}

.pricing-card__item:nth-child(3) {
  background-color: #333333;
  color: #86878b;
  border: 1px solid #f5f5f5;
  padding: 0.75rem;
}
