.section-header {
  padding: 6.4rem 0 3.8rem 0;
}

.section-header__title {
  text-align: center;
  text-transform: uppercase;
}

.section-header__decoration-line {
  background-color: var(--main-orange);
  width: 10.625rem;
  height: 1px;
  margin: 0% auto;
  margin-top: 3.875rem;
}

.section-header__subtitle {
  color: #86878b;
  text-align: center;
  padding-top: 2.5rem;
  margin: 0 auto;
  width: 80%;
}
