.social-media{
  background-color: #f8efef;
  min-height: 8.75rem;
  padding: 1rem 0;
  position: relative;
  top: 4.6rem
}

.social-media__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-media__text-container {
width: 40%;
}

.social-media__title {
  margin-bottom: 1.875rem;
}

.social-media__description {
  color: #86878b;
  font-size: 1.125rem;
}

.social-media-block {
  width: 58%;
  display: flex;
  justify-content: space-between;
}

.social-media-block__icon {
  width: 11%;
}

.social-media-block__icon-img{
  width: 100%;
}

.social-media-block__icon-img:hover {
  filter: brightness(70%);
}
