.social-media{
  background-color: #f8efef;
  min-height: 8.75rem;
  padding: 0.94rem 0;
  position: relative;
  top: 4.6rem
}

.social-media__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-media__text-container {
width: 40%;
}

.social-media__title {
  margin-bottom: 1.875rem;
}

.social-media__description {
  color: #86878b;
  font-size: 1.125rem;
}

.social-media__icons-container {
  width: 55%;
  display: flex;
  justify-content: space-between;
}

.social-media__icon {
  width: 13%;
  display: flex;
}

.social-media__icon-img{
  width: 100%;
}

.social-media__icon-img:hover {
  filter: brightness(70%);
}
